<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

{{ partial "head.html" . }}
<body>

<div
        class="layout pad-scroll-offset flex justify-center min-h-screen py-2 px-4 bg-white dark:bg-gray-900 dark:text-gray-100 overflow-hidden"
>
    <div class="w-full flex flex-col" style="max-width: 900px;">
        {{ partial "header.html" . }}
        <div class="page-holder font-serif-body">
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}
    </div>
</div>
</body>
</html>