{{ define "main" }}

<main>
    <h1>{{ replace .Title "-" " " | title }}</h1>

    <div class="flex flex-col gap-8 md:gap-4 mb-4">
        {{- range (.Paginate .Data.Pages).Pages -}}
        <a href="{{ .RelPermalink }}" class="underline">{{ .Title }}</a>
        {{- end -}}
    </div>

    {{ partial "pagination.html" . }}
</main>

{{ end }}
