{{ define "main" }}

    <main>
        <article class="flex flex-col gap-2">
            <h1 class="my-2 mt-6">{{ .Title }}</h1>

            {{ with .Params.subtitle }}
                <h2>{{ . }}</h2>
            {{ end }}

            {{ partial "author-and-date" . }}

            {{ $images := .Resources.ByType "image" }}
            {{ if gt (len $images) 0 }}
                {{ $thumbnail := .Resources.GetMatch (default "" .Params.thumbnail) }}
                {{ $image := default (index $images 0) $thumbnail }}
                <figure class="rounded shadow-sm overflow-hidden mt-4">
                    <img src="{{ ($image.Fill "900x506 webp").RelPermalink }}" class="w-full" alt=""/>
                    {{ with .Params.caption }}
                        <figcaption>{{ . }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            <div class="markdown-body mt-4">
                {{ .Content }}
            </div>

            <div class="flex gap-2 mb-4 font-sans flex-wrap">
                {{ range .Params.topics }}
                    <a href="/topics/{{ . }}" class="px-2 py-1 bg-gray-600 dark:bg-gray-800 text-white rounded"
                    >#{{ . }}</a
                    >
                {{ end }}
            </div>
        </article>
    </main>

{{ end }}
