<div class="wrapper flex gap-4 flex-col sm:flex-row mb-4 sm:mb-0">
    <a
            href="{{ .RelPermalink }}"
            class="card-image shadow-sm hover:shadow-xl transition-shadow rounded overflow-hidden sm:w-[300px] sm:min-w-[300px] w-full aspect-[16/9] sm:max-h-[180px] max-h-full"
            aria-label="Link to {{ .Title }} article"
    >
        {{ $images := .Resources.ByType "image" }}
        {{ if gt (len $images) 0 }}
            {{ $thumbnail := .Resources.GetMatch (default "" .Params.thumbnail) }}
            {{ $image := default (index $images 0) $thumbnail }}
            <img src="{{ ($image.Fill "320x180 webp").RelPermalink }}" alt="{{ default "" .Params.caption }}" class="w-full h-full">
        {{ else }}
            {{ .Scratch.Set "pageIndex" 0 }}
            {{ $self := . }}
            {{ range $index, $page := .Site.RegularPages }}
                {{ if eq $page.Title $self.Title }}
                    {{ .Scratch.Set "pageIndex" $index }}
                {{ end }}
            {{ end }}
            <img src="{{ (resources.Get "images/placeholders/thumbnail.svg").RelPermalink }}" alt="{{ default "" .Params.caption }}" class="w-full" style="filter: hue-rotate({{ mul (.Scratch.Get "pageIndex") 50 }}deg)">
        {{ end }}
    </a>
    <div>
        <a href="{{ .RelPermalink }}">
			<span class="font-bold text-2xl sm:text-4xl block">
				{{ .Title }}
			</span>
            {{ with .Params.subtitle }}
                <span class="text-2xl italic">{{ . }}</span>
            {{ end }}
        </a>
        {{ partial "author-and-date" . }}
    </div>
</div>