{{ define "main" }}

    {{  $dot := . }}
    <main>
        <h1>{{ replace .Title "-" " " | title }}</h1>

        <div class="flex flex-col gap-8 md:gap-4 mb-4">
            {{- range .Data.Terms.ByCount -}}
                <a href="/{{ $dot.Data.Plural }}/{{ .Term }}"><span class="underline">{{ .Term | title}}</span>
                    ({{ .Count }})</a>
            {{- end -}}
        </div>

    </main>

{{ end }}
