/* source-serif-pro-regular - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('/fonts/source-serif-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-serif-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-italic - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('/fonts/source-serif-pro-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-serif-pro-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-700 - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('/fonts/source-serif-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-serif-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-700italic - latin */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('/fonts/source-serif-pro-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/source-serif-pro-v11-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-3xl md:text-5xl font-bold my-4;
}

h2 {
    @apply text-2xl md:text-3xl;
}

@layer utilities {
    .dark:emoji-cover-white {
        text-shadow: 0 0 hsla(0, 0%, 100%, 0.8);
    }

    .dark:emoji-cover-gray {
        text-shadow: 0 0 hsla(0, 0%, 70%, 1);
    }
}

.utility-wrapper > * {
    @apply flex h-full items-center shadow-sm;
}

.utility-wrapper > a {
    @apply pt-4 pb-4 px-4 hover:pt-8 transition-all rounded-b overflow-hidden justify-center dark:text-black;
}

.markdown-body > * {
    margin-bottom: 0.7rem;
}

.markdown-body > img {
    width: 100%;
}

.markdown-body > a {
    color: hsl(220, 50%, 40%);
}

.markdown-body > a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
}

ul ul,
ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

ol ol,
ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}

article figcaption {
    padding: 0.5rem;
    font-style: italic;
    @apply bg-gray-400 dark:text-gray-300 dark:bg-gray-800;
}

.question {
    @apply text-4xl italic font-light;
}

input,
select,
textarea {
    @apply bg-gray-100 border-gray-300 dark:bg-gray-800 dark:border-gray-700;
}

input,
select,
textarea,
button,
.field {
    @apply py-1 px-2  border-2 rounded mb-2 font-sans;
}

::placeholder {
    @apply text-gray-600;
}

.disabled {
    @apply opacity-50 cursor-not-allowed;
}

.author {
    @apply underline px-1 py-[0.1rem] mx-[-0.2rem] rounded hover:no-underline hover:bg-gray-200 hover:dark:bg-gray-800;
}