<p class="static font-sans">
    By
    {{ $writers := .Params.writers }}
    {{ with (index $writers 0) }}
    <a href="/writers/{{ . | urlize }}" class="author">{{ . }}{{ if gt (len $writers) 1}},{{ end
        }}</a>
    {{ end }}
    {{ with (index $writers 1) }}
    <a href="/writers/{{ . | urlize }}" class="author">{{ . }}{{ if gt (len $writers) 2}},{{ end
        }}</a>
    {{ end }}
    {{ with (index $writers 2) }}
    <a href="/writers/{{ . | urlize }}" class="author">{{ . }}{{ if gt (len $writers) 3}},{{
        end }}</a>
    {{ end }}
    {{ with (index $writers 3) }}
    <a href="/writers/{{ . | urlize }}" class="author">{{ . }}{{ if gt (len $writers) 4}},{{ end
        }}</a>
    {{ end }}
    │ {{ .Date.Format "January 02, 2006" }}
</p>