<head>
    {{ $dot := . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ .Scratch.Set "title" (printf "%s · %s" .Title  .Site.Title) }}
    {{ if .IsHome }}{{ .Scratch.Set "title" (printf "%s: PHS School Newspaper" .Title) }}{{ end }}
    {{ if and (eq .Kind "term") (eq .Data.Plural "topics") }}{{ .Scratch.Set "title" (printf "%s · %s" (.Title | title)  .Site.Title) }}{{ end }}
    <title>{{ .Scratch.Get "title" }}</title>

    <!-- Meta -->
    <meta property="og:title" content="{{ .Title }}"/>

    {{ .Scratch.Set "description" .Site.Params.description }}
    {{- if .Params.subtitle }}
        {{ .Scratch.Set "description" (printf "%s - %s" .Params.subtitle (truncate 150 .Plain)) }}
    {{- end }}

    <meta property="og:type" content="{{ if eq .Type "articles" }}article{{ else }}website{{ end }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>

    <meta name="description" content="{{ .Scratch.Get "description" }}"/>
    <meta property="og:description" content="{{ .Scratch.Get "description" }}"/>

    {{- if .IsPage }}
        {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
        <meta property="article:section" content="{{ .Section }}"/>
        {{ with .PublishDate }}
            <meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
        {{ with .Lastmod }}
            <meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
    {{- end -}}

    {{- $permalink := .Permalink }}
    {{- $siteTopics := .Site.Taxonomies.topics }}
    {{ with .Params.topics }}
        {{- range $name := first 1 . }}
            {{- $topics := index $siteTopics ($name | urlize) }}
            {{- range $page := first 6 $topics.Pages }}
                {{- if ne $page.Permalink $permalink }}
                    <meta property="og:see_also" content="{{ $page.Permalink }}"/>{{ end }}
            {{- end }}
        {{ end }}
    {{ end }}

    {{ $images := .Resources.ByType "image" }}
    {{ if gt (len $images) 0 }}
        {{ $thumbnail := .Resources.GetMatch (default "" .Params.thumbnail) }}
        {{ $image := default (index $images 0) $thumbnail }}
        <meta property="twitter:card" content="summary_large_image"/>
        <meta property="og:image" content="{{ ($image.Fill "1200x627 webp").Permalink }}"/>
    {{ else }}
        <meta property="twitter:card" content="summary"/>
        <meta property="og:image" content="{{ .Site.BaseURL }}favicon.png"/>
    {{ end }}

    <meta property="og:site_name" content="Pasadena Chronicle"/>

    <link rel="icon" href="/favicon.png"/>

    <!-- CSS -->
    {{ $styles := resources.Get "styles/bundled.css" }}
    {{ if not hugo.IsProduction }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
        {{ $styles := $styles | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ end }}

    <!-- RSS -->
    {{ with .OutputFormats.Get "Atom" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/atom+xml" title="{{ $dot.Site.Title }}"/>
    {{ end }}

    {{ partial "schema" . }}
</head>
