<div style="margin: -0.5rem -0.5rem 0 -0.5rem;" class="utility-wrapper flex h-10 gap-2">
    <a href="/staff" class="ml-auto bg-red-200 hover:bg-red-300 dark:bg-red-600 dark:hover:bg-red-700">Staff</a>
    <a href="/contact" class="bg-yellow-700 hover:bg-yellow-800 dark:bg-yellow-900 dark:hover:bg-yellow-950">Contact</a>
</div>

<header class="flex flex-col w-full border-gray-400 dark:border-gray-600 border-b-2 gap-4 mt-4 text-xs sm:text-base">
    <a href="/" class="mb-4">
        {{ readFile "assets/images/masthead.svg" | safeHTML }}
    </a>
</header>

<nav class="border-b-4 border-double border-gray-700 dark:border-gray-500 flex md:gap-1 py-1 flex-wrap items-center justify-center mb-4">
    {{ range .Site.Params.mainTopics }}
        <a
                class="nav-btn px-3 py-1 hover:bg-gray-200 rounded dark:hover:bg-gray-800"
                href="/topics/{{ . }}">{{ . | humanize }}</a
        >
    {{ end }}
</nav>