{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <div class="flex justify-center mt-8 font-sans">
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            <a class="{{ if not $pag.HasPrev }} disabled{{ end }} relative inline-flex items-center px-3 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-800" {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}"{{ end }} aria-label="Previous" role="link"><span aria-hidden="true">←</span></a>
            {{ $ellipsed := false }}
            {{ $shouldEllipse := false }}
            {{ range $pag.Pagers }}
                {{ $right := sub .TotalPages .PageNumber }}
                {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
                {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
                {{ if $showNumber }}
                    {{ $ellipsed = false }}
                    {{ $shouldEllipse = false }}
                {{ else }}
                    {{ $shouldEllipse = not $ellipsed }}
                    {{ $ellipsed = true }}
                {{ end }}
                {{ if $showNumber }}
                    <a class="{{ if eq . $pag }}z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium dark:border-gray-600 dark:bg-gray-800 dark:hover:bg-gray-800 dark:text-gray-50{{ else }} bg-white border-gray-300 text-gray-700 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium dark:border-gray-700 dark:bg-black dark:hover:bg-gray-800{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a>
                {{ else if $shouldEllipse }}
                    <div class="disabled relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-800">
                        <span aria-hidden="true">...</span></div>
                {{ end }}
            {{ end }}
            <a class="{{ if not $pag.HasNext }} disabled{{ end }} relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 dark:border-gray-700 dark:bg-black dark:hover:bg-gray-800" {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}"{{ end }} aria-label="Next" role="link"><span aria-hidden="true">→</span></a>
        </nav>
    </div>
{{ end }}