{{ define "main" }}

<main>
    <div class="flex flex-col items-center">
        <h1>Uh oh! That page couldn't be found.</h1>
        <p>
            The page or article you are looking for may have been moved or deleted.
            <a href="/" class="underline">Contact us if you believe this is an error.</a>
        </p>
    </div>
</main>

{{ end }}