{{ define "main" }}

    <main>
        <div class="flex flex-col gap-8 md:gap-4 mb-4">
            {{ range (.Paginate .Site.RegularPages).Pages }}
                {{ .Render "summary" }}
            {{ end }}
        </div>

        {{ partial "pagination.html" . }}
    </main>

{{ end }}