{{ define "main" }}

<script>
    let submitted = false;

    async function submit(event) {
        try {
            const {who, why, body, email} = event.target.elements;
            const data = {
                who: who.value,
                why: why.value,
                body: body.value,
                email: email.value
            };

            await fetch('https://svhhqzfoazipfux.form.io/contact/submission', {
                method: 'POST',
                body: JSON.stringify({data}),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            submitted = true
        } catch (error) {
            console.error(error);
            alert(
                'Uh oh! Something went wrong when sending your message. You can try again, or contact a staff member via email.'
            );
        }
    }
</script>

<div class="flex gap-8 w-full">
    <form action="https://formsubmit.co/shane@pasadenachronicle.org" method="POST" class="flex flex-col gap-2 w-full md:w-auto">
        <h1>Contact us</h1>
        <label for="who">Who are you?</label>
        <input type="text" name="who" id="who" required placeholder="..."/>
        <label for="why">Why are you contacting us?</label>
        <select name="why" id="why" required>
            <option value="" selected disabled hidden>...</option>
            <option value="tip">tip or suggestion</option>
            <option value="join">join the club</option>
            <option value="interview">request an interview or story</option>
            <option value="ad">place an ad</option>
            <option value="other">something else</option>
        </select>
        <textarea placeholder="Write your message here..." name="body"></textarea>
        <label for="email">What is your email? (if you want a response)</label>
        <input type="email" name="email" id="email" placeholder="..."/>
        <input type="hidden" name="_next" value="https://pasadenachronicle.org/contact">
        <input type="hidden" name="_subject" value="pasadenachronicle.org Form Submission">
        <input type="text" name="_honey" style="display:none">
        <input type="hidden" name="_captcha" value="false">
        <button class="bg-gray-700 border-gray-900 text-white">Send&ensp;✉️</button>
    </form>

    <div class="flex-col items-center justify-center hidden md:flex mx-auto font-sans">
        <div class="w-max flex flex-col gap-8">
            <span class="question">Got tips?</span>
            <span class="question ml-8">Want to join us?</span>
            <span class="question ml-16">Interested in an interview?</span>
            <span class="question ml-24">Inquiring to place an ad?</span>
        </div>
    </div>
</div>

{{ end }}