{{ define "main" }}

    <main>
        <h1>Our staff</h1>

        <div class="flex flex-col gap-2">
            {{ range .Site.Data.staff }}
                <h2>{{ .year }}</h2>

                <h3 class="font-bold">Advisor</h3>
                <p>{{ index .advisor 0 }}</p>

                <h3 class="font-bold">Writers</h3>
                <div class="flex gap-5 mb-4 flex-wrap">
                    {{ range sort .writers}}
                        <a href="/writers/{{ . | urlize }}" class="author">{{ . }}</a>
                    {{ end }}
                </div>

                <h3 class="font-bold">Developers</h3>
                <div class="flex gap-5 mb-4 flex-wrap">
                    {{ range .developers }}
                        <div>
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </main>

{{ end }}